<div class="layout">

  <aside class="sidebar">

    <h2>ClauseAI</h2>

    <app-upload
      (uploaded)="onUploaded($event)">
    </app-upload>

    <div
      *ngIf="uploadedDocument"
      class="document-card">

      <h4>Current Document</h4>

      <p>
        {{ uploadedDocument.fileName }}
      </p>

    </div>

  </aside>

  <main class="chat-area">

    <div *ngIf="processing"
      class="processing">

      Processing document...

    </div>

    <app-chat
      *ngIf="uploadedDocument && !processing"
      [documentId]="uploadedDocument.id">
    </app-chat>

  </main>

</div>